html, body {
  
}

a { text-decoration: none;
}







/********************Header***********************/

.container {
  padding: 25px 0px;
}

.logo img {
  height: 75px;
}

.cart_top {
  text-align: right;
  float: right;
}

#search {
  float: right;
  width: 210px;
}

.contact_bar {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.contact_bar ul {
  margin: 0 auto;  
  text-align: center;
}

.contact_bar ul li {
  display: inline-block;
  margin: 5px 15px ;
}

#contact_bar {
  height: 30px;
}

#nav {
  display: block;
  padding: 0;
  height: 63px;
  background: #DEDEDE;
}

#nav ul {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 20px;
  background: #DEDEDE;
}

#nav ul li {
  float: left;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  background: #DEDEDE;
}

#nav ul li:hover {
  background: #555;
  color: #fff;
}

#nav ul li {
  *display: inline;
}

#nav ul li a {
  text-decoration: none;
  display: block;
  font-size:  14px;
  position: relative;
  padding: 22px 34px;
}

#nav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
}

#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
	z-index: 999;
}

/********************* Front Page ***********************/

.slider_frontpage {
  text-align: center;
}

.slider_frontpage ul li img {
  width: 100%;
  max-height: 350px;
}



.front_video {
   width: 395px;
}



.slides li img {
  margin: auto;
}


/********************* Collections ***********************/

.brick {
  width: 195px;
  margin: 10px;
  float: left;
}

.brick img {
  width: 100%;
}

.product {
  background: #999;
}

.product:hover {
  background: #444;
  border: 2px solid #444;
}

.product a {
  font-weight: bold;
}

.product a:hover {
    color: #fff;
}


/********************* Product Page **********************/

#first-image {
  margin: 0 15px;
}

#first-image img {
  width: 400px;
}

#product-photos ul li {
  float: left;
  margin: 15px;
}

#product-photos ul li img {
  width: 100%; 
}


/********************* Footer ***************************/

#footer {
  background: #DEDEDE;
}

#footer_row_1 {
  text-align: center;
  margin: 25px 0;
}

#footer_row_2 ul li {
  display: inline-block;
  padding: 0 5px;
  width: 75px;
  height: 25px;
  vertical-align: middle;
}

#social {
  text-align: left;
}
#newsletter h3 {
  text-align: right;
  margin: 0 25px 0 0;
}

#mc_embed_signup {
  width: 300px;
  float: right;
}

input.chimp {
  float: left;
  margin: 4px 10px;
}

.chimp_go {
  float: left;
}

#footer_row_3 {
  margin: 25px 0;
}

#copyright p {
  padding: 10px;
}

#footer_row_3 ul li {
  display: inline-block;
  float: right;
  padding: 10px;
}




/**************************Responsive Mobile ****************************/

@media (max-width: 720px) {
  
  .logo {
   text-align: center; 
  }
  
  .cart_top {
    text-align: center;
  }
  
  #search {
    float: none;
    margin: auto;
  }
  
  #nav ul li {
    width: 100%;
    clear: both;
    text-align: center;
    border-bottom: 1px solid #999;
  }
  
  .product_frontpage{
    text-align: center;
  }
  
  .product_frontpage {
    width: 95%;
    margin: 10px;
    float: left;
  }
  
  #first-image {
   display: none; 
  }
  
  #product-photos ul li {
    margin: 25px auto;
  }
  
  #product-description h2 {
    float: left;
  }
  
  #social {
    text-align: center;
  }
}













